.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.footer1 {
    display: flex;
    justify-content: space-around;
    color: rgb(198, 199, 199);
    font-size: large;
    margin-top: 30px;
}

.above_futter {
    display: flex;
    justify-content: space-around;
    color: rgb(178, 178, 178);
    margin-top: 30px;
}